# Dependencies
node_modules/
npm-debug.log
yarn-error.log
yarn-debug.log

# Environment Variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Build output
dist/
build/
coverage/

# OS/IDE
.DS_Store
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Next.js / Vite / React / Node
.next/
out/
.vercel
*.log
